/* General*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
  font-family: 'Bungee Inline', 'Londrina Solid';
}

body {
    margin-top: 0;
    width:100%;
    height:100%;
    overflow-x: hidden;
}
#nav{
        margin-top: 2em;
        text-align: center;
        margin-left: 5em;
        width: 100%;
        height: auto ! important;
    }
  
  header {
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: inline-block
  }
  #nav li {
    padding-right: 3%;
    display: inline-block;
  }
#nav ul{
    display:block;
    display: inline-block;
  list-style-type: none;
}
a{
    text-decoration: none;
    width:100%;
    text-align:center;
   display:block;
   padding: 20px 0 0 0;
   font-size: 1.2em;
   display: inline-block;
  list-style-type: none;
  height: auto ! important;
  position:relative;
        float:left;
    
}
a:link,
a:visited,
a:active {
  color: yellow;
  text-decoration: none;
}
span{
    display:inline-block;
    margin:0em;
    padding: 0em;
    text-align:justify;
    width:100%;
}
/*font styles*/
li{
    display: inline-block;
    width:100%;
    text-align:justify;
    margin: 0;
    padding:0;
    list-style-type: disc;
}
ul{
    padding: 0;
    width:100%;
    top:0;
    display:inline-block;
    margin:0;
    list-style-type: disc;
    
}

/* header: logo, nav  */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 0px;
    background-color:orange;
    width: 100%;
    justify-content: space-between;
}

header ul {
    padding: 0;
   margin:0 auto;
    width: 100%;
    text-align: justify;

}

/*estructura:contenedor*/
.content{
    height: auto;
    border: 4px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right:2em;
}
/*Image Front Page*/
img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    z-index:1;
  }
  img-div{
    margin-left: 0 auto;
    margin-right:0 auto;
    padding: 0;
    display:block;
    width:100%;
  }

  #img-div h1{
      position:absolute;
      text-align: left;
      color:white;
      top: 40%;
      left: 60%;
  }

/*Sections*/
.sections{
    color:orange;
    width: 100%;
    display: inline-block;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    text-align: center; 
} 

#tribute-info p{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
    line-height: 1.5em;
    
}
#about a{
    color:brown;
}


#timeline span{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
    list-style-type: disc;

}

#timeline li{
    display:list-item;
    list-style-type: disc;
    line-height: 1.5em;
}

#music iframe{
    padding:1em;
    margin:1em;
    width:100%;
}

#awards li{
    list-style-type: square;
    display: list-item;
    line-height: .5em;
}

#awards ul{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
}

/* Footer */
@media only screen and (max-width: 600px) {
    body {
        width:100%;
        height: 100%;
    overflow-x: hidden;
      margin-top: 0;
      text-align: center;
    }
    main {
      margin: 0 auto;
    }
    img{
        width:100%;
        height: auto;
    }
    header {
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        line-height: 0px;
        background-color:orange;
        width: 100%;
        justify-content: space-between;
    }
    nav {
        color: white;
        width: 350px;
        list-style-type: none;
        float: right;
        position: relative;
        bottom: 5em;
        right: 4em;
        padding: 0;
        ;
      }
      #nav li {
        display: inline-block;
      }
      .sections{
        font-size: 2rem;
      }
      p{
        width: 80%;
        font-size: 1.5rem;
        text-align: justify;
        line-height:1.5rem;
      }
      #timeline li{
        font-size: 1.5rem;
        text-align: justify; 
        line-height: 1.5em;
      }

      #awards li{
        font-size: 1.5rem;
        text-align: justify; 
        line-height: 1.5em;
      }
      #music iframe{
        width:50%;
        max-width: 560px;
        height: 315px;
        height:auto;
    }
    
