/* General*/
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 50px;
    width:100%;
    height:auto;
}

a{
    color: yellow;
    text-decoration: none;
    width:100%;

    
}

span{
    display:inline-block;
    margin:0em;
    padding: 0em;
    text-align:justify;
    width:100%;
}
/*font styles*/
h1{
    font-size: 2em;
    width: 100%;  
    margin:0;
    padding-right: 8em;
}
li{
    display: inline-block;
    width:100%;
    text-align:justify;
    margin: 0;
    padding:0;
    list-style-type: disc;
}
ul{
    padding: 0;
    width:100%;
    top:0;
    display:inline-block;
    margin:0;
    list-style-type: disc;
    
}

/* header: logo, nav  */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 0px;
    background-color:orange;
    width: 100%;
    justify-content: space-between;
}

header ul {
    padding: 0;
   margin:0 auto;
    width: 100%;
    text-align: justify;

}
nav{
    margin-top: 2em;
    text-align: center;
    margin-left: 5em;
    z-index: 5;
    width: 100%;
}

header li {
    text-align: left;
    margin-left: 70px;
    color: black;
    width: 100%;
    
}
/*estructura:contenedor*/
* section {
    height: auto;
    border: 4px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right:2em;
}

#hero img{
    width: 100%;
    height: auto;
}

/*comentario*/
#about h2{
    color:orange;
    padding: 0;
    width: 100%;
    display: inline-block;
    font-size: 3em;
        margin: 0;
        font-weight: bold;
        text-align: center;
       

}
#about p{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
    line-height: 1.5em;
}
#about a{
    color:brown;
}

#timeline h2{
    color:orange;
    padding: 0;
    width: 100%;
    display: inline-block;
        font-size: 3em;
        margin: 0;
        font-weight: bold;
        text-align: center;
       

}

#timeline span{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
    list-style-type: disc;

}

#timeline li{
    display:list-item;
    list-style-type: disc;
    line-height: 1.5em;
}

#music h2{
    color:orange;
    padding: 0;
    width: 100%;
    display: inline-block;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

#music iframe{
    padding:1em;
    margin:1em;
    width:100%;
}

#awards h2{
    color:orange;
    padding: 0;
    width: 100%;
    display: inline-block;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
    text-align: center;

}
#awards li{
    list-style-type: square;
    display: list-item;
    line-height: .5em;
}

#awards ul{
    padding:1em;
    margin:1em;
    width:100%;
    text-align: justify;
}

/*Pie de pagina*/
footer {
    text-align: center;
    padding: 0;
}
/*paginas*/

header * {
    display: inline;
    
}

section #music{
    background-color: orange;
}